<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPNewsYinChuan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPNewsYinChuan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IPNewsYinChuan.Properties.Settings>
            <setting name="ExitPwd" serializeAs="String">
                <value>1234</value>
            </setting>
        </IPNewsYinChuan.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IPNewsYinChuan.Properties.Settings>
            <setting name="IPNewsYinChuan_WebReference_ClientHelper" serializeAs="String">
                <value>http://211.95.73.116:8001/Service/ClientHelper.asmx</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>http://111.113.15.126:3307/yinchuan.html</value>
            </setting>
        </IPNewsYinChuan.Properties.Settings>
    </applicationSettings>
</configuration>